/*========================font for timer=================================*/
@font-face {
  font-family: 'Digital';
  src: url('../fonts/digital-7-italic-.eot');
  src: local('вє'), url('../fonts/digital-7-italic-.woff') format('woff'),
    url('../fonts/digital-7-italic-.ttf') format('truetype'),
    url('../fonts/digital-7-italic-.svg') format('svg');
  font-weight: normal;
  font-style: italic;
}

/*========================common=================================*/
* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

/*========================switcher=================================*/
.switcher {
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: center;
}

.button {
  position: relative;
  width: 140px;
  height: 40px;
  bottom: -3px;

  font-size: 25px;
  text-transform: uppercase;

  border-radius: 10px;
  border: none;
  background-color: rgb(17, 111, 148);
  color: aliceblue;
  cursor: pointer;

  box-shadow: 3px 3px 2px rgb(45, 43, 43);
}

.button--rigth-indent {
  margin-right: 20px;
}

.button:focus,
.button:hover {
  background-color: rgb(46, 160, 205);
}

.button:active {
  right: -3px;
  bottom: -6px;
  box-shadow: none;
}

/*=============================timer=============================*/
/* 
#datetime-picker {
  height: 40px;
  width: 600px;
  border-radius: 10px;
}

#datetime-picker:focus {
  border: 2px solid black;
  border-color: #019101;
  outline: none;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 140px;
}

.field:not(:last-child) {
  margin-right: 35px;
}

.value {
  font-size: 92px;
  line-height: 1;
  font-family: 'PT Mono', monospace;
  color: #019101;
}

.label {
  font-size: 35px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.timer-button {
  position: relative;
  padding: 0;

  width: 180px;
  height: 180px;

  border-radius: 50%;
  border: none;

  background-color: rgba(255, 21, 0, 0.867);
  color: white;
  font-size: 40px;
  text-transform: uppercase;
  box-shadow: 5px 5px 2px rgb(44, 42, 42);
}

.timer-button:focus,
.timer-button:hover {
  background-color: rgb(255, 47, 0);
}

.timer-button:active {
  right: -3px;
  bottom: -3px;
  box-shadow: none;
}

.timer-button--oposide-color {
  background-color: rgb(0, 123, 255);
}

.timer-button--oposide-color:focus,
.timer-button--oposide-color:hover {
  background-color: rgb(23, 114, 212);
} */

.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* padding-top: 100px;
  padding-bottom: 100px;
  text-align: center; */
}

.wrapper {
  background-image: url(../images/timer.jpeg);
  min-height: 584px;
  position: relative;
}

.input {
  position: absolute;
  top: 32%;
  left: 27%;
  width: 290px;
  height: 23px;
  background-color: #040c06;
}

.input::placeholder {
  text-align: center;
  font-weight: 600;
  font-family: 'Digital';
  font-style: italic;
  color: #88f7f2;
}

.timer {
  position: absolute;
  top: 37.5%;
  left: 26.8%;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 293px;
  height: 76px;

  /* gap: 9px; */

  font-family: 'Digital';
  font-style: italic;

  background-color: #040c06;
  color: #88f7f2;
}

.field {
  flex: 0 1 calc((100% - 3 * 9px) / 4);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 70px;
  line-height: 1;
  cursor: default;
}

.field:not(:last-child) {
  margin-right: 9px;
}

.value {
  line-height: 0.8;
}

.label {
  font-size: 15px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 70px;

  padding: 0;

  cursor: pointer;
  border-radius: 4px;
  border: 1px solid rgb(30, 28, 28);
  color: white;
  box-shadow: 2px 2px 1px black;
}

.btn--start {
  position: absolute;
  top: 40.5%;
  left: 60%;

  background-color: #eb4739;
}

.btn--start:active {
  opacity: 1;
  top: 40.6%;
  left: 60.1%;
  box-shadow: none;
}

.btn--start:hover,
.btn--start:focus {
  background-color: red;
}

.btn--stop {
  position: absolute;
  top: 40.5%;
  left: 56.5%;

  background-color: #399eeb;
}

.btn--stop:active {
  opacity: 1;
  top: 40.6%;
  left: 56.6%;
  box-shadow: none;
}

.btn--stop:hover,
.btn--stop:focus {
  background-color: rgb(0, 115, 255);
}

.btn__icon {
  fill: currentColor;
}
